* {
  box-sizing: border-box;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control.error small {
  visibility: visible;
  margin-bottom: 4px;
  display: block;
  color: var(--error-color);
}

.form-control.error {
  margin-top: 10px;
}

